@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700");

/* * {
  outline: 1px red dashed;
} */

#root {
  margin: 0 auto;
  padding: 0;
}

body {
  align-items: center;
  background-color: #161e24;
  padding: 0
}

.loading {
  color: aliceblue;
}

.container {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .container {
    padding: 1;
  }

}
