@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700");

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 1rem;
}

body {
  align-items: center;
  background-color: #1f2428;
}

.card {
  /* padding: 1em; */
  border-radius: 24px;
  border-color: #373737;
  background-color: rgb(21, 22, 23);
}

.card--title {
  font-family: Quicksand;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 10px;
  color: #b8b8b8;
}

.card--price {
  font-family: Quicksand;
  font-size: 1.5rem;
  font-weight: 500;
  color: #c9c9c9;
}

.card--text {
  margin-top: -8px !important; 
  margin-bottom: 20px !important;
  font-family: Quicksand;
  font-size: 1rem;
  font-weight: 300;
  color: #d5d5d5;
}



