.filters-container {
  background-color: rgba(0, 0, 0, 0.779);
  margin-top: 0 !important;
  padding: 2px;
  width: 100%;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
  margin-top: 16px; /* Asegúrate de que el filtro no esté pegado al top */
  backdrop-filter: blur(10px);
}

.filters-container.sticky {
  position: fixed; /* Cambia de sticky a fixed cuando se activa */
  top: 76px; 
  left: 0;
  width: 100%;
  transform: translateY(0); 
}

.filters-container.normal {
  position: relative; /* Restablece a la posición original cuando no está sticky */
  top: 0; /* Mantén su posición original */
  transform: translateY(0); /* Asegura que no haya transformaciones cuando no está sticky */
}

.title {
  font-family: Quicksand;
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 0;
  margin-right: 20px !important;
  color: #f1f1f1;
}

@media screen and (max-width: 650px) {
  .filters-container.sticky {
    top: 76px; /* Ajusta si tu navbar en móvil es más pequeño */
  }

  .btn-primary {
    width: 100%;
  }

  .container-filters {
    position: sticky !important;
    top: px !important;
    z-index: 999 !important;
  }

  select  {
    height: 30px;
    font-size: 14px !important; 
  }

}
