.container-filters {
    background-color: black;
    align-content: center;
    margin: 0;
    padding: 0;
}

.title {
    font-family: Quicksand;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 0;
    margin-right: 20px !important;
    color: #f1f1f1;
}

@media screen and (max-width: 650px) {
    .btn-primary {
      width: 100%;
    }

    .container-filters {
      margin: 0 !important;
      padding: 0%0 !important;
    }
  }