.footer {
  background-color: #202b39 !important;
  padding: 0 !important;
  margin-top: -20px !important;
}

#container-footer {
padding: 1px !important;
}

.footer-logo {
  max-width: 220px;
  align-items: center;
  margin-top: 68px;
}

.footer-text {
  margin-top: 10px;
  font-size: 14px;
  color: #c1c1c1 !important;
}

.footer-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #d5d5d5 !important;
  text-align: start;
}

/* Textos generales */
.text-muted {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #bababa !important;
  text-align: justify;
  padding-right: 20px;
}

/* Estilos Floating Label */
.form-floating {
  position: relative;
  height: 60px !important;

}

.floating-input {
  border: none;
  border-bottom: 1px solid #919191;
  border-radius: 0;
  background-color: transparent;
  padding: 0.75rem 0 0.25rem 0;
  font-size: 1rem;
  color: #ebebeb;
  font-weight: 200;
  margin-left: 0 !important;
}

.floating-input:focus {
  border-bottom: 1px solid #0d6efd;
  outline: none;
  background-color: transparent;
  color: #fff;
}

.floating-input::placeholder {
  color: transparent;
}

/* Labels */
.floating-label {
  position: absolute;
  top: 0.75rem;
  left: -14px !important;
  font-size: 1rem;
  color: #bababa;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  z-index: 99;
}

.floating-input:focus + .floating-label,
.floating-input:not(:placeholder-shown) + .floating-label {
  top: -0.6rem;
  font-size: 0.8rem;
  color: #0d6efd;
}

/* Ajustes para mensajes de error */
.text-danger {
  font-size: 0.9rem;
  margin-top: 0.25rem;
  text-align: start;
  margin-left: 0 !important;
}

/* Para los fields (inputs) */
.field {
  margin-left: 0px !important;
}

/* Copyright */
.footer-copyright {
  background-color: #161e24 !important;
  color: #bababa; 
  font-size: 0.9rem;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  width: 100%;
  margin-top: 20px !important;
  padding: 20px 0; /* Para separar un poco el contenido */
  margin-top: 40px !important; /* Añadir espacio entre el footer y el copyright */
  display: block;
}
  
.footer-copyright p {
  margin: 8px !important;
}
  
  