.card {
  border-radius: 14px ;
  border-color: #373737;
  background-color: rgb(16, 21, 26);
}

.card img {
  border-radius: 14px 14px 0 0;
}

.card--title {
  font-family: Quicksand;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 10px;
  color: #f1f1f1;
}

.card--price {
  font-family: Quicksand;
  font-size: 1.5rem;
  font-weight: 600;
  color: #bababa;
}

.card--text {
  margin-top: -8px !important; 
  margin-bottom: 20px !important;
  font-family: Quicksand;
  font-size: 1rem;
  font-weight: 400;
  color: #d5d5d5;
}


.button-ver {
  border-radius: 18px;
  border: 1px solid #2998ff;
  background-color: transparent;
  color:rgb(200, 200, 200)
}

.button-ver:hover {
  background-color: #2998ff;
  border: 1px solid #2998ff;
}

.icons {
  width: 35px;
  margin-right: 8px;
}

.container--icons {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  /* .card {
    border-radius: 0 ;
  }

  .card img {
    border-radius: 0;
  } */
}